<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/simple.css">
</head>
<body>
<h1>Account exists already. <br> Please try other usernames: <a href="/registration">Register</a></h1>
</body>
<footer class="footer">
    <a style="text-align: center" href="https://uberspace.de/">
        <img style="vertical-align: middle; width: 15%" src="/badge/uberspace_badge_light.svg" alt="">
    </a>
    <p>Styled with <a href="https://simplecss.org/">SimpleCSS</a></p>
</footer>
</html>
