<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Artikel hinzufügen</title>
    <link rel="stylesheet" href="/css/simple.css">
</head>
<body onload="loadShelves()" style="color: #483e37ff;">

<header>
    <div><img src="/imgs/logo-400px-90px.svg" alt="Hippo-logo"></div>
    <nav>
        <ul>
            <li><a href="/shelve/shelves">Regale</a></li>
            <li><a  href="/shelve/create">Regal erstellen</a></li>
            <li><a aria-current="true"  href="/add/article">Artikel hinzufügen</a></li>
            <li><a>Kontakt</a></li>
            <li> <a style="color: darkred; border: none" href="/logout">Abmelden</a></li>
        </ul></nav>
</header>
<main>
<h4>
    Artikel hinzufügen
</h4>
    <script src="/js/addArticleFunctions.js"></script>
    <select name="shelve" id="shelve">
        <--! Option>
    </select>

</main>
    <footer>Inventarisierung leicht gemacht -- Hosted on Uberspace -- feinschliff durch simplecss</footer>
</body>
</html>