<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Regal hinzufuegen</title>
  <link rel="stylesheet" href="/css/simple.css">
</head>
<body style="color: #483e37ff;">
<header>
  <div><img src="/imgs/logo-400px-90px.svg" alt="Hippo-logo"></div>
  <nav>
    <ul>
      <li><a href="/shelve/shelves">Regale</a></li>
      <li><a aria-current="true"  href="/shelve/create">Regal erstellen</a></li>
      <li><a href="/add/article">Artikel hinzufügen</a></li>
      <li><a>Kontakt</a></li>
    </ul></nav>
</header>
<main>
<h4 id="heading">
  Regal Erstellen
</h4>
  <script src="/js/testjs.js"></script>
  <button type="submit" onclick="sendDummy()">Js-Test</button>
  <div>
  <form action="/shelve/submit" method="POST">
    <label for="shelve_name">Name des Regals <br><input type="text" placeholder="Notebooks, Smartphones" name="shelve_name" id="shelve_name"></label>

    <br>
    <br>
    <label for="shelve-type"> Bitte auswählen:
    <div id="shelve-type">
    <label for="article-radio-button">Artikel
      <input type="radio" name="is_for_service" id="article-radio-button" value="no" required></label>
    <label for="service-radio-button">Dienstleistung
      <input type="radio" name="is_for_service" id="service-radio-button" value="yes" required>
    </label>
    </div>
      </label>
    <br>
    <label for="category"> Kategorie <br>
    <select name="category" id="category">
      <option value="electronics">Elektronisch</option>
      <option value="selfmade">Eigene Produktion</option>
    </select></label>
    <br>
    <label for="article-selection">Auswahl: <br>
      <div id="article-selection-div">
      <select name="article_selection" id="article-selection">
      <option value="notebook">Laptop / Notebook</option>
      <option value="smartphone">Smartphone</option>
    </select>

    </div>
      </label>
    <br>
    <input type="submit" value="Erstellen">
  </form>
</div>
  </main>
<footer>Inventarisierung leicht gemacht -- Hosted on Uberspace -- feinschliff durch simplecss</footer>
</body>
</html>