<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Regale</title>
    <link rel="stylesheet" href="/css/simple.css">
</head>
<body onload="showShelvesAsTable()" style="color:#483e37ff">
<header style="display: inline-flex; align-items: center; justify-content: space-around;">
    <div style="margin-top: 1%"><a href="/shelve/shelves"><img src="/imgs/logo-header-hippo.svg" alt="Hippo-logo"> </a></div>
    <nav>
        <ul>
            <li><a  href="/shelve/shelves">Regale</a></li>
            <li><a href="/shelve/create">Regal erstellen</a></li>
            <li><a href="/add/article">Artikel / Dienstleistung hinzufügen</a></li>
            <li><a  aria-current="true" href="/invoice/dashboard"> Rechnung erstellen</a></li>
            <li> <a style="color: darkred; border: none" href="/logout">Abmelden</a></li>
        </ul></nav>
</header>
<main id="main">
  <h4>
      Rechnung Erstellen
  </h4>

    <p>SOON</p>
</main>
<footer class="footer"><a style="text-align: center" href="https://uberspace.de/"><img style="vertical-align: middle;width: 15%" src="/badge/uberspace_badge_light.svg" alt="" ></a>

    <p> Styled with <a href="https://simplecss.org/">SimpleCSS</a></p>

</footer>
</body>
</html>