<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/imgs/favicon.svg" type="image/x-icon">

    <meta charset="UTF-8">
    <title>Shelves</title>
    <link rel="stylesheet" href="/css/simple.css">
    <script src="/js/invoice_dashboard_functions.js"></script>
</head>
<body onload="loadShelvesForAutoInvoiceSelect()" style="color:#483e37ff">
<header style="display: inline-flex; align-items: center; justify-content: space-around;">
    <div style="margin-top: 1%"><a href="/shelve/shelves"><img src="/imgs/logo-header-hippo.svg" alt="Hippo-logo"> </a></div>
    <nav>
        <ul>
            <li><a href="/shelve/shelves">Shelves</a></li>
            <li><a href="/shelve/create">Create Shelf</a></li>
            <li><a href="/add/article">Add Article / Service</a></li>
            <li><a aria-current="true" href="/invoice/dashboard">Create Invoice</a></li>
            <li><a style="color: darkred; border: none" href="/logout">Log out</a></li>
        </ul>
    </nav>
</header>
<main id="main">
    <h4> Create Invoice</h4>
    <a style="color: wheat; text-decoration: none" href="/invoice/invoice_for_article_or_service"><button style="color: lightblue"> For Article / Service </button></a>
    <a style="color: wheat; text-decoration: none" href="/invoice/invoice-freemode"><button>Invoice Free mode</button></a>

<section id="select_section">
    <h4>Automatic Invoices for Articles / Services (Soon)</h4>

    <label for="shelve">Shelve selection</label>
    <select name="shelve" id="shelve">
        <--! JS will generate existing shelves as options here -> >
    </select>
    <button onclick="loadArticlesOfShelveAsSelection()">Fetch Articles</button>

    <label for="article">Article selection</label>
    <select name="article-selection" id="article">

    </select>
</section>

</main>
<footer class="footer"><a style="text-align: center" href="https://uberspace.de/"><img style="vertical-align: middle;width: 15%" src="/badge/uberspace_badge_light.svg" alt="" ></a>

    <p> Styled with <a href="https://simplecss.org/">SimpleCSS</a></p>

</footer>
</body>
</html>
