 <!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Shelves</title>
    <link rel="stylesheet" href="/css/simple.css">
    <script src="/js/invoice_dashboard_functions.js"></script>
</head>
<body style="color:#483e37ff">
<header style="display: inline-flex; align-items: center; justify-content: space-around;">
    <div style="margin-top: 1%"><a href="/shelve/shelves"><img src="/imgs/logo-header-hippo.svg" alt="Hippo-logo"> </a></div>
    <nav>
        <ul>
            <li><a href="/shelve/shelves">Shelves</a></li>
            <li><a href="/shelve/create">Create Shelf</a></li>
            <li><a href="/add/article">Add Article / Service</a></li>
            <li><a aria-current="true" href="/invoice/dashboard">Create Invoice</a></li>
            <li><a style="color: darkred; border: none" href="/logout">Log out</a></li>
        </ul>
    </nav>
</header>
<main id="main">
    <section>
        <div id="invoice_freemode_container">
    <h4>
        Invoice Free Mode (Data will not be saved)
    </h4>
        <div id="outer_div_1">
            <h5> Date of Invoice</h5>
            <div>
                <label for="date_invoice_freemode">Date</label>
                <input type="date" name="" id="date_invoice_freemode" placeholder="DD/MM/YYYY">
            </div>
            <h5>Own Info</h5>
            <div>
                <label for="Name">Name</label>
                <input type="text" id="Name" placeholder="Max Meerrettich">
            </div>
            <div>
                <label for="Address">Address</label>
                <input type="text" id="Address" placeholder="Unternehmer-Straße 40">
            </div>
            <div>
                <label for="Zip_code">Zip Code</label>
                <input type="text" id="Zip_Code" placeholder="xxxxx">
            </div>
            <div>
                <label for="City">City</label>
                <input type="text" id="City" placeholder="Berlin ...">
            </div>
            <div>
                <label for="Tel.">Tel.</label>
                <input type="text" id="Tel." placeholder="xxxxxxxx">
            </div>
        </div>
        <div id="outer_div_2">
            <h5>Customer Info</h5>
            <div>
                <label for="Name_Customer">Name</label>
                <input type="text" id="Name_Customer" placeholder="Bernd Brot">
            </div>
            <div>
                <label for="Address_Customer">Address</label>
                <input type="text" id="Address_Customer" placeholder="Unternehmer-Straße 99">
            </div>
            <div>
                <label for="Zip_Code_Customer">Zip Code</label>
                <input type="text" id="Zip_Code_Customer" placeholder="13589">
            </div>
            <div>
                <label for="City_Customer">City</label>
                <input type="text" id="City_Customer" placeholder="Berlin...">
            </div>
            <div>
                <label for="Tel._Customer">Tel.</label>
                <input type="text" id="Tel._Customer" placeholder="+49 0176 ....">
            </div>
        </div>
            <!-- Add button to add one more article to the invoice with its price and all.
                 The Invoice will be created with the PDF_utility_class.
                 The Prices will appear next to an article and the sum will be calculated in TOTAL.
                 -->
            <br>
            <button class="button" id="button_add_article_box" onclick="add_article_box_and_increment_counter()">Add Article to Invoice</button>
            <br>
            <div name="article_boxes_div_list" id="outer_div_4_to_add_articlebox_to">

            <div id="article_box_0">
            <div>
                <label for="Invoice_Id">Invoice ID</label>
                <input type="text" id="Invoice_Id" placeholder="0001IFM">
            </div>

            <div>
                <label for="text_area">Article / Service description</label>
                <textarea name="" id="text_area" cols="30" rows="10" placeholder="1x Article with..."></textarea>
            </div>
            <div>
                <label for="price">Price in € (tax included)</label>
                <input type="number" id="price">
            </div>
            </div>
        </div>
        </div>

        <button type="button" class="button" id="submit_pdf">PDF Download</button>
    </section>


    <section> <h4>Invoice for stored Article</h4>
        <select name="InvoiceForStoredSelection" id="InvoiceForStoredSelection">
            <option value="1">Article 1</option>
            <option value="2">Article 2</option>
            <option value="3">Article 3</option>
        </select>
        <button onclick="">Create Invoice</button></section>
</main>
<footer class="footer"><a style="text-align: center" href="https://uberspace.de/"><img style="vertical-align: middle;width: 15%" src="/badge/uberspace_badge_light.svg" alt="" ></a>

    <p> Styled with <a href="https://simplecss.org/">SimpleCSS</a></p>

</footer>
</body>
</html>
