<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Mr. Unternehmer</title>
    <link rel="stylesheet" href="/css/simple.css">
    <script src="/js/login.js"></script>
</head>
<body style="color: #483e37ff">
<header>
    <div style="margin-top: 20px" ><img src="/imgs/logo-400px-90px.svg" alt="Hippo-logo"></div>
</header>
<main>
<div class="notice">
    <h4> Willkommen! &nbsp; <img style="vertical-align: middle;width: 3%" src="/icons/icons-skyrocket/hand-regular.svg" alt="waving"></h4>
    <p>
        Schön, dass du hier bist. Diese Seite gehört einem leidenschaftlichen Entwickler.
    </p>
    <p> <mark>Kurz und knackig:</mark> Mr. Einzelunternehmer ist ein simples Inventar-Tool mit Anbindungen zu externen Plattformen
        wie eBay oder auch PayPal.</p>
    <div style="text-align: center">

    <a id="registerButton" class="button" href="/registration">Registrieren</a>
        <p>- oder -</p>
        <a class="button" href="login-page">Einloggen</a>
    </div>
</div>
<section>
    <h4> Funktionen  &nbsp; <img style="vertical-align: middle;width: 3%" src="/icons/icons-skyrocket/square-check-regular.svg" alt="features"></h4>
    <p>
        <ul>
    <li>
        <p><b>Simple Artikelregistrierung:</b> <br>Mit dem Artikel template lässt sich jeder Artikel ganz einfach eintragen und speichern. </p>
    </li>
    <li><p><b>Importieren / Exportieren eines Lagerbestands:</b><br> Importiere externe Inventarbestände aus anderen Programmen in Form von <mark>CSV / Exceltabellen / etc. etc.</mark>.
        Exportiere deinen Lagerbestand, ein Regal oder auch nur einen Artikel als PDF/CSV und noch weitere Dateiformate!</p></li>
    <li>        <p><b>Übersicht der Regale:</b><br> Lasse dir einen Lagerbestand in Form simpler Tabellen anzeigen und filtere nach Belieben.</p>
    </li>
    <li>        <p><b>Rechnungen fertigen:</b><br> Ob Dienstleistung oder verkaufter Artikel, deine Rechnung wird per Knopfdruck für einen Download exportiert oder kann bei Bedarf automatisch verschickt werden</p>
    </li>
</ul>
</section>
<section>
    <h4> Nutzung  &nbsp; <img style="vertical-align: middle;width: 3%" src="/icons/icons-skyrocket/paperclip-solid.svg" alt="HowTo"></h4>
    <p>
        Bei Mr. Einzelunternehmer kannst du dich registrieren und sofort loslegen.
        Es stehen dir "Regale" zur Verfügung, die du erstellen und bearbeiten kannst.
        Diese Regale haben Kategorien und Eigenschaften, die bei der inventarisierung eine wichtige Rolle spielen.
        So solltest du in einem "Regal" mit dem Namen "Notebooks" lieber keine Tische eintragen.. (und doch könntest du).
    </p>
    <p>
        <b>Mehr Erklärungen folgen noch..</b>
    </p>
</section>
    <section style="background-color: #f5f7ff; border-style: solid; border-width: 2px;">
        <h4> Kontakt  &nbsp; </h4>
        <p>
            Sollten noch Fragen offen sein dann kontaktiere uns bitte. <br>
            Wünsche spezifischer Features bitte an: <a href="mailto:features@skyrocket.de">info@skyrocket.de</a>
        </p>
        <p>Weitere Informationen finden Sie unter</p>
        <div style="text-align: center">
            <a class="button">Info</a>
        </div>

    </section>
</main>
<footer><a style="text-align: center" href="https://uberspace.de/"><img style="vertical-align: middle" src="/badge/badge_light.png" alt="" ></a> </footer>
</body>
</html>