<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/imgs/favicon.svg" type="image/x-icon">
    <meta charset="UTF-8">
    <title>Mr. Unternehmer</title>
    <link rel="stylesheet" href="/css/simple.css">
    <script src="/js/login.js"></script>
</head>
<body style="color: #483e37ff">
<header style="display: inline-flex; align-items: center; justify-content: space-around;">
    <div style="margin-top: 1%"><a href="/"><img src="/imgs/logo-header-hippo.svg" alt="Hippo-logo"> </a></div>

</header>
<main>
<div class="notice">
    <h4> Welcome! &nbsp; <img style="vertical-align: middle;width: 3%" src="/icons/icons-skyrocket/hand-regular.svg" alt="waving"></h4>
    <p>
        Glad to have you here. This site belongs to a passionate developer.
    </p>
    <p> <mark>In Short:</mark> This WebApp is a simple inventory tool designed to help you get started as an entrepreneur. You can store Articles, offer Services and Create Invoices with PDFs.</p>
    <p>This project is still in its early <mark>BETA.</mark> <br>  Some features are not yet available.</p>
    <div style="text-align: center">

    <a id="registerButton" class="button" href="/registration">Register</a>
        <p>- or -</p>
        <a class="button" href="/login-page">Log in</a>
    </div>
</div>
<section>
    <h4> Features  &nbsp; <img style="vertical-align: middle;width: 3%" src="/icons/icons-skyrocket/square-check-regular.svg" alt="features"></h4>
    <p>
        <ul>
    <li>
        <p><b>Simple item registration:</b> <br> With the item template, you can easily enter and save any item.</p>
    </li>
    <li><p><b>Import/export inventory (Soon):</b><br>
        Import inventory data from other programs, for example as CSV files. </p>
    </li>
    <li>
        <p><b> Create <mark>PDFs</mark>:</b> <br>  Generate PDFs of the contents of your shelves. </p>
    </li>
    <li>        <p><b>Create Invoices </b><br>Whether it's a service or a sold item, your invoice can be exported with one click or sent automatically if needed. Free invoice creator is available. Automatic invoices for articles will follow soon.</p>
    </li>
</ul>
</section>
<section>
    <h4> Using it  &nbsp; <img style="vertical-align: middle;width: 3%" src="/icons/icons-skyrocket/paperclip-solid.svg" alt="HowTo"></h4>
    <p>
        At mister-unternehmer.de, you can register and get started right away.
        You’ll have access to “shelves” that you can create and edit.
        These shelves have categories and properties that play an important role in inventory management.
        Every shelve can have articles of a specific type in it. Creating Invoices to specific articles / serviceofferings is possible too (soon).
    </p>
    <p>
        <b>More Features are coming soon.</b>
    </p>
    <div style="text-align: center;">
        <h6 style="text-align: left;">Media</h6>
        <img style="width: 100%; box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5);" src="/imgs/shelve_create.png" alt="Regal Erstellung" srcset=""> <br>
        <caption style="font-style: italic"> Shelf Creation </caption> <br> <br> <br>
        <img style="width: 100%; box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5);" src="/imgs/shelve_view.png" alt="Regal Dashboard" srcset=""> <br>
        <caption style="font-style: italic"> Shelf Overview </caption> <br> <br> <br>
        <img style="width: 100%; box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5);" src="/imgs/pdf-view.png" alt="PDF view" srcset=""> <br>
        <caption style="font-style: italic"> Your Shelve content as PDF </caption> <br> <br> <br>
        <img  style="width: 100%; box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5);" alt="invoice_freemode" src="/imgs/invoice_landing_page.png">
        <caption style="font-style: italic"> Your invoice </caption>
    </div>
</section>
    <section style="background-color: #f5f7ff; border-style: solid; border-width: 2px;">
        <h4> Contact &nbsp; </h4>
        <p>
            If you still have questions, please feel free to contact me. <br>
            For specific feature requests, please email: <a href="">SOON</a>
        </p>
        <div style="text-align: center">
            <a class="button">Info</a>
        </div>
    </section>
</main>
<footer class="footer"><a style="text-align: center" href="https://uberspace.de/"><img style="vertical-align: middle;width: 15%" src="/badge/uberspace_badge_light.svg" alt="" ></a>

    <p> Styled with <a href="https://simplecss.org/">SimpleCSS</a></p>


</footer>
</body>
</html>