<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Hippo1</title>
    <link rel="stylesheet" href="/css/simple.css">
</head>
<body style="color: #483e37ff">
<header>
    <div><img src="/imgs/logo-400px-90px.svg" alt="Hippo-logo"></div>
</header>
<main>
<section>
    <h4> Willkommen!</h4>
    <p>
        Schön, dass du hier bist. Diese Seite gehört einem leidenschaftlichen Entwickler.
    </p>
    <p> <mark>Kurz und knackig:</mark> Mr. Einzelunternehmer ist ein simples Inventar-Tool mit Anbindungen zu externen Plattformen
        wie eBay oder auch PayPal.</p>
    <div style="text-align: center">

    <a id="registerButton" class="button" href="/registration">Registrieren</a>
    </div>
</section>
<section>
    <h4> Funktionen </h4>
    <p>
        <ul>
    <li>
        <p><b>Simple Artikelregistrierung:</b> <br>Mit dem Artikel template lässt sich jeder Artikel ganz einfach eintragen und speichern. </p>
    </li>
    <li><p><b>Importieren / Exportieren eines Lagerbestands:</b><br> Importiere externe Inventarbestände aus anderen Programmen in Form von <mark>CSV / Exceltabellen / etc. etc.</mark>.
        Exportiere deinen Lagerbestand, ein Regal oder auch nur einen Artikel als PDF/CSV und noch weitere Dateiformate!</p></li>
    <li>        <p><b>Übersicht der Regale:</b><br> Lasse dir einen Lagerbestand in Form simpler Tabellen anzeigen und filtere nach Belieben.</p>
    </li>
    <li>        <p><b>Rechnungen fertigen:</b><br> Ob Dienstleistung oder verkaufter Artikel, deine Rechnung wird per Knopfdruck für einen Download exportiert oder kann bei Bedarf automatisch verschickt werden</p>
    </li>
</ul>
    </p>
</section>
<section>
    <h4> Nutzung </h4>
    <p>
        Bei Mr. Einzelunternehmer kannst du dich registrieren und sofort loslegen.
        Es stehen dir "Regale" zur Verfügung, die du erstellen und bearbeiten kannst.
        Diese Regale haben Kategorien und Eigenschaften, die bei der inventarisierung eine wichtige Rolle spielen.
        So solltest du in einem "Regal" mit dem Namen "Notebooks" lieber keine Tische eintragen.. (und doch könntest du).
    </p>
    <p>
        <b>Mehr Erklärungen folgen noch..</b>
    </p>
</section>
</main>
<footer>Inventarisierung leicht gemacht -- Hosted on Uberspace -- feinschliff durch simplecss</footer>
</body>
</html>