<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/imgs/favicon.svg" type="image/x-icon">

    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/simple.css">
</head>
<body style="color:#483e37ff">
<header style="display: inline-flex; align-items: center; justify-content: space-around;">
    <div style="margin-top: 1%"> <a href="/"><img src="/imgs/logo-header-hippo.svg" alt="Hippo-logo"> </a></div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login-page" aria-current="true">Login</a></li>
            <li><a href="/registration" >Registration</a></li>
        </ul>
    </nav>
</header>
<main>
    <h4>Login</h4>
    <script src="/js/login.js"></script>
    <label for="email">Username:</label>
    <input type="text" placeholder="SuperHippo" name="email" id="email" required>

    <label for="password">Password:</label>
    <input type="password" placeholder="Password" name="password" id="password" required>
    <br>
    <div style="text-align: center">
        <button type="submit" onclick="login()">Log in</button>
    </div>

</main>
<footer class="footer">

    <p> Styled with <a href="https://simplecss.org/">SimpleCSS</a></p>

</footer>
</body>
</html>
