<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/css/simple.css">
</head>
<body style="color:#483e37ff">
<header>
  <div><img src="/imgs/logo-400px-90px.svg" alt="Hippo-logo"></div>
</header>
<main>
  <h4 style="text-align: center">Login</h4>
  <fieldset>
    <form action="/login" method="post">
      <label for="email">E-Mail-Adresse:</label>
        <input type="email" placeholder="Jeff@Beispiel.de" name="email" id="email" required>


      <label for="password">Passwort:</label>
      <input type="password" placeholder="Passwort" name="password" id="password" required>
      <br>
      <div style="text-align: center">
        <input type="submit" class="button" value="Log in">
      </div>
    </form>
  </fieldset>
</main>
</body>
</html>