<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/simple.css">
</head>
<body style="color: #483e37ff;">
<header>
    <div><img src="/imgs/logo-400px-90px.svg" alt="Hippo-logo"></div>
</header>
<main>
    <fieldset>
    <h4 style="text-align: center">Registrierung</h4>
    <form action="/register" method="post">
        <label for="email">E-Mail-Adresse:</label>
        <input type="email" placeholder="Jeff@Beispiel.de" name="email" id="email" required>


        <label for="password">Passwort:</label>
        <input type="password" placeholder="Passwort" name="password" id="password" required>
        <br>
        <label for="password-confirm">Passwort wiederholen:</label>
        <input type="password" placeholder="Passwort wiederholen" name="password-confirm" id="password-confirm" required>

        <br>
        <br>
        <div style="text-align: center">
        <input type="submit" value="Registrieren">
            </div>
    </form>
        </fieldset>
</main>
<footer>
    Inventarisierung leicht gemacht -- Hosted on Uberspace -- feinschliff durch simplecss
</footer>
</body>
</html>