<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Registrierung</title>
    <link rel="stylesheet" href="/css/simple.css">
</head>
<body style="color: #483e37ff;">
<header style="display: inline-flex; align-items: center; justify-content: space-around;">
    <div style="margin-top: 1%"> <a href="/"><img src="/imgs/logo-header-hippo.svg" alt="Hippo-logo"> </a></div>
    <nav>
        <ul>
            <li><a href="/">Startseite</a></li>
            <li><a href="/login-page">Login</a></li>
            <li><a href="/registration" aria-current="true">Registrierung</a></li>
        </ul>
    </nav>
</header>
<main>
    <p class="notice">Only Username and Password are required. <br> <mark>Email for Password verification will follow in User-Settings.</mark></p>
    <h4>Registrierung</h4>
    <form action="/register" method="post">
        <label for="email">Username:</label>
        <input type="text" placeholder="Jeff@Beispiel.de" name="email" id="email" required>


        <label for="password">Passwort:</label>
        <input type="password" placeholder="Passwort" name="password" id="password" required>
        <br>
        <br>
        <div style="text-align: center">
        <input type="submit" value="Registrieren">
            </div>
    </form>
</main>
<footer class="footer"><a style="text-align: center" href="https://uberspace.de/"><img style="vertical-align: middle;width: 15%" src="/badge/uberspace_badge_light.svg" alt="" ></a>

    <p> Styled with <a href="https://simplecss.org/">SimpleCSS</a></p>

</footer>
</body>
</html>