<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Regale Dashboard</title>
    <link rel="stylesheet" href="/css/simple.css">
</head>
<body onload="retrieveShelves()" style="color:#483e37ff">
<header>
    <div><img src="/imgs/logo-400px-90px.svg" alt="Hippo-logo"></div>
    <nav>
        <ul>
            <li><a aria-current="true" href="">Regale</a></li>
            <li><a href="/shelve/create">Regal erstellen</a></li>
            <li><a href="/add/article">Artikel hinzufügen</a></li>
            <li><a>Kontakt</a></li>
            <li> <a style="color: darkred; border: none" href="/logout">Abmelden</a></li>
        </ul></nav>
</header>
<main>
<h4> Regale - Dashboard</h4>
    <script src="/js/retrieveshelves.js"></script>
<table id="shelve-table">

</table>
</main>
<footer>Inventarisierung leicht gemacht -- Hosted on Uberspace -- feinschliff durch simplecss</footer>
</body>
</html>