<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Regale</title>
    <link rel="stylesheet" href="/css/simple.css">
</head>
<body onload="showShelvesAsTable()" style="color:#483e37ff">
<header>
    <div style="margin-top: 1%"><img src="/imgs/logo-header-hippo.svg" alt="Hippo-logo"></div>
    <nav>
        <ul>
            <li><a aria-current="true" href="">Regale</a></li>
            <li><a href="/shelve/create">Regal erstellen</a></li>
            <li><a href="/add/article">Artikel / Dienstleistung hinzufügen</a></li>
            <li><a href="/invoice/dashboard"> Rechnung erstellen</a></li>
            <li><a>Kontakt</a></li>
            <li> <a style="color: darkred; border: none" href="/logout">Abmelden</a></li>
        </ul></nav>
</header>
<main id="main">
<h4> Regale - Dashboard</h4>
    <script src="/js/showShelvesAsTable.js"></script>
<table id="shelve-table">
</table>
    <figure>
    <div id="table-article">

    </div>
        <figcaption>Articles listed.</figcaption>
        </figure>
</main>
<footer class="footer"><a style="text-align: center" href="https://uberspace.de/"><img style="vertical-align: middle" src="/badge/badge_light.png" alt="" ></a> </footer>

</body>
</html>