<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/css/simple.css">
</head>
<body>
<header style="display: inline-flex; align-items: center; justify-content: space-around;">
  <div style="margin-top: 1%"><a href="https://mister-unternehmer.de/shelve/shelves"><img src="/imgs/logo-header-hippo.svg" alt="Hippo-logo"> </a></div>
  <nav>
    <ul>
      <li><a href="https://mister-unternehmer.de/shelve/shelves">Shelves</a></li>
      <li><a href="https://mister-unternehmer.de/shelve/create">Create Shelf</a></li>
      <li><a aria-current="true" href="https://mister-unternehmer.de/add/article">Add Article / Service</a></li>
      <li><a href="https://mister-unternehmer.de/invoice/dashboard">Create Invoice</a></li>
      <li><a style="color: darkred; border: none" href="https://mister-unternehmer.de/logout">Log out</a></li>
    </ul>
  </nav>
</header>

<h4>Add Article</h4>
<form action="https://mister-unternehmer.de/add/article" method="post">
  <input type="reset" value="Reset Fields">

  <label>Name</label>
  <input type="text" name="" id="name" placeholder="Thinkpad T14..">

  <label>Quantity</label>
  <input type="number" name="" id="" placeholder="1...1000">

  <!-- Make this set and not editable -->
  <label>Type</label>
  <input type="text" value="notebook" name="type" placeholder="notebook" contenteditable="false">

  <label>Short Description of the Article</label>
  <input type="text" name="description" id="description" placeholder="Robust and trustworthy Notebook..">

  <label>Purchase Price per Article (€)</label>
  <input type="number" name="price_when_bought" id="price_when_bought" placeholder="415.99.."> &nbsp €

  <label>Desired Selling Price (€)</label>
  <input type="number" name="selling_price" id="selling_price" placeholder="515.99.."> &nbsp €

</form>

<footer class="footer"><a style="text-align: center" href="https://uberspace.de/"><img style="vertical-align: middle;width: 15%" src="/badge/uberspace_badge_light.svg" alt="" ></a>

  <p>Styled with <a href="https://simplecss.org/">SimpleCSS</a></p>

</footer>
</body>
</html>
